/********CSS reset***********/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********end reset*********/

p, ul, h1, h2, h3 { margin: 15px 0px;}
h1, h2, h3 { font-weight: normal; line-height: 1; width: auto;}
h2, h3 { display: inline-block; clear: both; }
em {font-style: italic}
hr {border-top: 2px dotted #000; width: 100%; }

h1 { font-family: "Montserrat"; font-size: 1.777em; }
h2 { font-size: 1em; font-family: "Montserrat",sans-serif; }
h3 { font-size: 1em; font-family: "Montserrat",sans-serif; }
h4 { font-size: 1em; }
p  { font-size: 0.75em; }

.small {
	font-size: 0.75em;
}
.big {
	font-size: 2.369em;
	margin-top: 5px;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p::selection, li::selection, a::selection {
	background: #FD6783;
}

body, html {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	font-size: 1.25em;
	line-height: 1.5;
	font-family: "Montserrat", sans-serif;
}

.header {
 	-webkit-justify-content: center;
	justify-content: center;
	background: #000 url(./img/floral-opt.jpg) no-repeat center center;
	background-color: #000;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;

	border: 8px solid #FFF;
	min-height: 100vh;
}
.header h1 {
	letter-spacing: 2px;
	font-weight: bold;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.3);
	animation-delay: 0.8s;
}
.header .job-title {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 1.8em;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.3);
	margin-top: -1em;
	animation-delay: 1.2s;
}

.myNav {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	animation-delay: : 0.6s;
}
.myNav li {
	padding: 0 15px;
	margin: 10px 0;
}
.myNav li a {
	text-decoration: none;
	color: #FFF;
}
.myNav li a:focus {
	border-bottom: none;
}

.underline {
  position: relative;
}

.underline:after {
  display: block;
  position: absolute;
  left: 0;
  top: 25px;
  width: 0;
  height: 2px;
  background-color: #FFF;
  content: "";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.underline:hover:after {
  width: 100%;
}

.frame {
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	align-self: center;
	z-index: 10;
	color: #FFF;
	text-align: center;
	min-height: 70vh;
}

.down-arrow img {
	width:60px;
	height: 60px;
	animation-delay: 1.6s;
	animation-duration: : 1;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fade-in {
	animation: fade-in .6s ease-out forwards;
	opacity: 0;
}
.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
	opacity: 0;
}

.btn_ {
	border: 2px solid #000;
	background-color: transparent;
	padding: 10px 20px;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
	box-shadow: 5px 15px 20px -10px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	-webkit-transition: background-color 0.4s ease;
	  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}
.btn_:focus, .btn_:hover {
	background-color: #000;
	border: 2px solid #000;
	color: #FFF;
}
.btn-reverse {
 	background-color: #000 ;
 	color: #fff;
 	cursor: pointer;
 	padding-right: auto;
 	width: auto;
 	border: 2px solid #000 ;
 	font-size: 0.75em;
 }

 .btn-reverse:hover, .btn-reverse:focus {
 	background-color: transparent!important;
 	border: 2px solid #000 ;
 	color: #000;
 }

.sectionTitle {
	border-bottom: 2px solid #000;
	padding-bottom: 8px;
	font-weight: bold;
	color: #000;
	letter-spacing: 1.3px;
}
.flex {
	display: -webkit-box;      /* OLD- iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD- Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER -IE 10 */
	display: -webkit-flex;	   /* NEW - Chrome */
	display: flex;
}
.flex-center {
	display: -webkit-box;      /* OLD- iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD- Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER -IE 10 */
	display: -webkit-flex;	   /* NEW - Chrome */
	display: flex;
    -webkit-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;

}
/*************ABOUT**/

.about {
	padding-top: 50px;
}

.describeMe, .myPhoto, .container {
  -webkit-box-flex: 1;
  -moz-box-flex:  1;
  -webkit-flex:  1;
  -ms-flex:  1;
}
.myPhoto {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.describeMe p::first-letter {
	float: left;
	color: #000;
	padding: 0 5px;
	margin: 0;
	line-height: 1;
	font-size: 3em;
	font-family: 'Dawning of a New Day', cursive;
}

.skills {
	font-size: .75em;
	padding: 0 0px;
}
.skills::before{
	content: "{";
	font-size: 3em;
}
 .skills::after {
	 content: "}";
	 font-size: 3em;
 }
.skills li {
	display: inline-block;
	padding: 5px;
	color: #000;
	position: relative;
	top: -5px;
}

.skills i {
	margin-right: 0.5em;
}

.resume-buttons {
	padding-top: 20px;

}
.resume-buttons a {
	display: block;
	margin-top: 10px;
}

.about img {
	height: auto;
	width: 400px;
	max-width: 100%;
	box-shadow: 15px 15px 3px rgba(0,0,0,0);
}

/************PORTFOLIO******/

.portfolio {
	text-align: center;
	padding: 30px 0;
}

.projects {
	margin: 30px 0;
}

.proj-name {
	margin-top: 30px;
}
.proj-name a {
	display: block;
	width: 130px;
	margin: 0 auto 30px;
}

.grow img {
	height: auto;
	width: auto;
	max-width: 100%;
	border: 2px solid #000;
	border-radius: 3px;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);

  -webkit-transition: all 1.3s ease;
     -moz-transition: all 1.3s ease;
       -o-transition: all 1.3s ease;
      -ms-transition: all 1.3s ease;
          transition: all 1.3s ease;
}

.grow img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/********* Grid Section *****/
.grid {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	flex: 0 0 33.333333%;
	align-items: flex-start;
	max-width: 1000px;
	margin: auto;
	padding: 1em;
}
 .item {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding: 0 15px 15px 15px;
	max-width: 50%;
}
.item:nth-of-type(3n) {
	margin-right: 0;
}
.item a {
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
}
.item a:hover {
	color: #FD6783;
}
.item img {
	max-width: 100%;
  height: auto;
	vertical-align: middle;
}

.item .project-wrap {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 400px;
}

.item .project-desc {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.project-desc p {
	letter-spacing: 2px;
	font-style: italic;
}
.item:hover .project-desc {
  opacity: 1;
}
.project-type {
	width: 100%;
	margin: 30px 0;
}
.grid-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
/*********Contact **********/

.contact {
	min-height: 100vh;
}
.contact a {
	text-decoration: none;
	color: #000;
}

.container {
	padding: 1em;

}
.footer {
	width: 100%;
	background: url(./img/floral_bg2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
	color: #FFF;
	text-align: center;
}

.myInfo {
	/*flex: 1;*/
	/*padding-right: 8%;*/

}
.myInfo p {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 1.6em;
	text-align: center;
	line-height: 1;
	display: block;
	max-width: 400px;
}
.links {
	padding: 0 0 10px;
	overflow: hidden;
	position: relative;
}

.links:hover, .links:focus{
	text-decoration: none;
	border-bottom: none;
}

 .contact_form {
  -webkit-box-flex: 2;
  -moz-box-flex:  2;
  -webkit-flex:  2;
  -ms-flex:  2;
 	flex: 2;
	font-family: "Montserrat", sans-serif;
	text-align: left;
}

.contact_form input:not([type="submit"]), textarea {
	font-family: "Montserrat", sans-serif;
	border: none;
	border-bottom: 2px solid #000;
	background-color: transparent;
	color: #000;
	width: 100%;
	font-size: 0.75em;
}
textarea {
	resize: none;
	overflow: auto;
}

::-webkit-input-placeholder {/* Safari, Chrome and Opera */
	color: #000;
}
:-moz-placeholder {/* Firefox 18- */
	color: #000;
}
::-moz-placeholder {/* Firefox 19+ */
	color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:placeholder-shown { /* Standard */
  color: #000;
}

.contact_form input:focus, input:active, textarea:focus, textarea:active {
	outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
 }
 .contact_form input:focus:not([type="submit"]), input:active:not([type="submit"]), textarea:focus, textarea:active {
	border-bottom: 2px solid #696969;
}
.send {
	margin-top: 30px;
	font-family: "Montserrat", sans-serif;
}

/****************Social Icons****************/

.soc-icons {
 	text-align: center;
}
.soc-icons li {
 	display: inline-block;
 	font-family: "Montserrat", sans-serif;
 	font-size: 1.6em;

}
.soc-icons i {
  	margin-right: 10px;
  	margin-left: 10px;
}
.underline-sm {
 	position: relative;
}
.underline-sm:after {
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 0;
  height: 2px;
  background-color: #000;
  content: "";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.underline-sm:hover:after {
  width: 100%;
}

.sr-only { /*screen reader only*/
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

/******************Lettering Examples   */
.lettering img {
	max-width: 100%;
}
.black-bg {
	background-color: #000;
}



/*******************Media Queries   */

@media screen and (min-width: 500px) {

	.header .job-title {
		font-size: 2.5em;
	}

	h1 {
		font-size: 2.369em;
	}
	h2,
	h3 {
		font-size: 1.333em;
	}
	h4 {
		font-size: 1em;
	}
	.resume-buttons a {
		display: inline-block;
	}

}

@media screen and (min-width: 769px) {

	.myNav {
	display: -webkit-box;      /* OLD- iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD- Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER -IE 10 */
	display: -webkit-flex;	   /* NEW - Chrome */
	display: flex;

	}

	.frame {
		border: 8px solid #FFF;
		width: 70%;
	}
  .describeMe p {
    	font-size: 1em;
  }

	.contact.container  {
	 	-webkit-flex-direction: row;
		flex-direction: row;
	}
	.contact_form {
		padding: 20px;
		border-left: 2px dotted #000;
	}
	.container {
	max-width: 750px;
	}

	.pic {
	  height: 340px;
	  width: 640px;
	  margin: 0 40px ;
	  overflow: hidden;
	  border: 2px solid #000;
	  border-radius: 3px;
    }

	.grow img {
		height: auto;
		width: 640px;
		max-width: 100%;
		border: none;
		border-radius: 0;
		-webkit-filter: grayscale(1);
	  	filter: grayscale(1);

	  -webkit-transition: all 1.3s ease;
	     -moz-transition: all 1.3s ease;
	       -o-transition: all 1.3s ease;
	      -ms-transition: all 1.3s ease;
	          transition: all 1.3s ease;
	}

	.grow img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform:    scale(1.2);
  -ms-transform:     scale(1.2);
    -o-transform:    scale(1.2);
	  transform: scale(1.2);
	 }

	.myInfo {
		border: 8px solid #000;
		padding: 5% 15%;
	}

	.grid .item {
		max-width: 33.333333%;
	}


}

@media screen and (min-width: 992px) {
	.about .container {
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	.myPhoto img, .resume-buttons a{
		margin-right: -95px;
	}
	.container {
	max-width: 970px;
	padding: 0;
	}
	.grid {
		padding: 0;
	}
	.frame {
		width: 60%;
	}

}


@media screen and (min-width: 1180px) {
	.projects {
		-webkit-flex-direction: row;
		flex-direction: row;
		margin: 60px;
	}

	.container {
		max-width: 1000px;
	}

	.order-left {
		order: 1;
	}
	.order-right {
		order: 2;
	}

	.frame {
		width: 45%;
	}

}
